<!doctype html>
<html lang="en">

<head>
   <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <!-- Favicon -->
   <link href="{{ url_for('static', path='images/favicon.png') }} " sizes="60x60" rel="shortcut icon"
      type="image/x-icon" />
   <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="{{ url_for('static', path='css/bootstrap.min.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', path='css/owl.carousel.min.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">

   <title>AyatNesia - Pencarian Relevansi Text Terjemahan Ayat Al Qur'an</title>
</head>

<body>
   <header>
      <nav class="navbar navbar-expand-lg navbar-light">
         <a class="navbar-brand" href="/">
            <img src="{{ url_for('static', path='images/logo.webp') }} " alt="logo">
         </a>
         <a href="javascript:void(0)" class="ml-auto d-md-none" id="sidebar-toggle">
            <img src="{{ url_for('static', path='images/icon-menu-hamburger.svg') }} " alt="icon-menu-hamburger"
               style="max-width: 1.5em;">
            </i></a>
      </nav>
   </header>
   <div id="wrapper">
      <aside id="sidebar-wrapper">
         <ul class="sidebar-nav" id="surah-list">

            <li {% if request.path=="/" %}class="active" {% endif %}>
               <a href="/">Beranda</a>
            </li>
            <li {% if request.path=="/search" %}class="active" {% endif %}>
               <a href="/search">Cari Ayat</a>
            </li>
            <li>
               <a href="/docs" target="_blank"> Dokumentasi API</a>
            </li>

            <li>
               <a href="https://www.utrodus.my.id/" target="_blank"> Kontak Kami</a>
            </li>

            <li>
               <div class="input-group mt-2 mb-3">
                  <input type="text" class="form-control" placeholder="Cari Surah Al Qur'an" id="search-input">
               </div>
            </li>


            {% for surah in all_surahs %}
            <li class="surah-item {% if surah['id'] == current_path_id %}active{% endif %}">
               <a href="/detail-surah/{{ surah['id'] }}">{{ surah['id'] }} - {{ surah['name'] }}</a>
            </li>
            {% endfor %}



            <!-- {% for surah in all_surahs %}
            <li x-data="{ isActive: '{{ surah['id'] }}' === '{{ request.url.path.split(" /")[2] }}' }"
               :class="{ 'active': isActive }">
               <a href="/detail-surah/{{ surah['id'] }}">{{ surah['id'] }} - {{ surah['name'] }}</a>
            </li>
            {% endfor %} -->


         </ul>
      </aside>
      {% block content %}
      {% endblock content %}
   </div>


   <!-- Footer -->
   <footer>
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <p> &copy; AyatNesia
                  <script>
                     document.write(new Date().getFullYear())
                  </script>

                  - Crafted by <a href="https://utrodus.my.id/" target="_blank"> <b> Utrodus Said Al Baqi</b></a>

               </p>
            </div>
         </div>
      </div>
   </footer>

   <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   <script src="{{ url_for('static', path='js/jquery-3.4.1.slim.min.js') }} "></script>
   <script src="{{ url_for('static', path='js/popper.min.js') }} "></script>
   <script src="{{ url_for('static', path='js/bootstrap.min.js') }} "></script>
   <script src="{{ url_for('static', path='js/owl.carousel.js') }} "></script>
   <script>
      const $button = document.querySelector('#sidebar-toggle');
      const $button2 = document.querySelector('#sidebar-toggle2');
      const $wrapper = document.querySelector('#wrapper');

      $button.addEventListener('click', (e) => {
         e.preventDefault();
         $wrapper.classList.toggle('toggled');
      });

      $button2.addEventListener('click', (e) => {
         e.preventDefault();
         $wrapper.classList.toggle('toggled');
      });

   </script>
   <script>
      $(document).ready(function () {
         let currentPath = '{{ request.url.path.split("/")[2] }}';

         $("#close").click(function () {
            $("#wrapper").removeClass('toggled');
         });

         $('.surah-item').each(function () {
            let surahId = $(this).find('a').attr('href').split('/')[2];

            if (surahId === currentPath) {
               $(this).addClass('active');
            } else {
               $(this).removeClass('active');
            }
         });

         $('#search-input').on('input', function () {
            var searchTerm = $(this).val().toLowerCase();
            $('#surah-list li.surah-item').each(function () {
               var surahName = $(this).text().toLowerCase();
               $(this).toggle(surahName.indexOf(searchTerm) > -1);
            });
         });

         // Scroll to top button
         // Scroll to top button
         var $scrollTopBtn = $('#scroll-top-btn');

         $(window).scroll(function () {
            if ($(this).scrollTop() > 100) {
               $scrollTopBtn.fadeIn();
            } else {
               $scrollTopBtn.fadeOut();
            }
         });

         $scrollTopBtn.click(function () {
            $('html, body').animate({ scrollTop: 0 }, 800);
            return false;
         });
      });
   </script>

   <script>
      $('#search').owlCarousel({
         loop: true,
         margin: 20,
         dots: false,
         autoplay: false,
         smartSpeed: 300,
         autoplayTimeout: 5000,
         autoplaySpeed: 3000,
         nav: false,

         navText: ['<i class="fa fa-angle-left"></i>', '<i class="fa fa-angle-right"></i>'],
         responsive: {
            0: {
               items: 1,
               nav: true,
               autoplay: false,

            },
            576: {
               items: 2,
               autoplay: false,

            },
            767: {
               items: 2
            },
            991: {
               items: 4
            },
            1200: {
               items: 5
            }
         }
      });

   </script>
   <a href="#" id="scroll-top-btn">
      <img src="{{ url_for('static', path='images/icon-chevron-up.svg') }} " alt="">
   </a>

</body>

</html>