{% extends 'base.html' %}

{% block content %}
<section id="content-wrapper" class="contents search-section container">
    <div class="row mb-3 ">
        <div class="col-sm-12 col-md-10 ">
            <div class="input-group">
                <input type="text" class="form-control"
                    style="border-top-left-radius: 12px; border-bottom-left-radius: 12px; height: 2.5rem; font-size: 0.9em;"
                    placeholder="Masukkan Kata Kunci Bahasa Indonesia"
                    aria-label="Masukkan Kata Kunci Bahasa Indonesia">
            </div>

        </div>
        <div class="col-sm-12 col-md-2 ">
            <div class="input-group-btn" style="display: inline-block;">
                <button class="btn btn-primary d-flex align-items-center" href="search-results.html" style="min-width: 40px;
             min-height: 40px;">

                    <p style="margin: 0;margin-left: 0.5em;">Cari Ayat</p>

                </button>
            </div>
        </div>

    </div>
    <!-- <div class="row align-items-center mb-3 ">
        <div class="col-sm-12 col-md-4 ">
            <form action="/search-result">
                <div class="input-group">
                    <input type="text" class="form-control" name="query" id="query" required
                        style="border-top-left-radius: 12px; border-bottom-left-radius: 12px; height: 2.5rem; font-size: 0.9em;"
                        placeholder="Masukkan Kata Kunci" aria-label="Masukkan Kata Kunci">
                </div>
            </form>
        </div>
        <div class="col-sm-12 col-md-3">
            <div class="d-flex">
                <div class="mr-3">
                    <div x-data="dropdownTopRelevance()">
                        <button class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false" style="font-size: 0.8em; font-weight: bold; "
                            x-text="selectedTopRelevanceOptionLabel"></button>
                        <div class="dropdown-menu">
                            <template x-for="option in topRelevanceOptionsList" :key="option.id">
                                <a href="#" class="dropdown-item" x-text="option.label"
                                    x-on:click="selectOption(option)"></a>
                            </template>
                        </div>
                    </div>
                </div>
                <div>
                    <div x-data="dropdownMeasure()">
                        <button class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false"
                            style="font-size: 0.8em; font-weight: bold; border-top-right-radius: 12px; border-bottom-right-radius: 12px;"
                            x-text="selectedMeasureOptionLabel"></button>
                        <div class="dropdown-menu">
                            <template x-for="option in measureOptionsList" :key="option.id">
                                <a href="#" class="dropdown-item" x-text="option.label"
                                    x-on:click="selectOption(option)"></a>
                            </template>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="col-sm-12 col-md-4">
            <div class="input-group-btn" style="display: inline-block;">
                <button class="btn btn-primary d-flex align-items-center" href="search-results.html" style="min-width: 40px;
             min-height: 40px;">
                    <img src="{{ url_for('static', path='images/icon-search.svg') }}" alt="icon-search"
                        style="max-width: 1.5em;" />
                    <p style="margin: 0;margin-left: 0.5em;">Cari Ayat</p>
                    </i>
                </button>
            </div>
        </div>
    </div> -->
    <div class="row">
        <div class="col-sm-12">
            <img src="{{ url_for('static', path='images/img-quran-search.png') }} " alt="img-search"
                style="width: 15rem; display: block; margin-top: 8rem !important;" class="mx-auto ">
            <p class="text-center mt-5"> Cari Ayat Al Qur'an Dengan AyatNesia </p>
        </div>
    </div>

</section>
<script>

    const dropdownMeasure = () => {
        const measureOptionsList = [
            { id: 1, label: 'Leksikal', value: 'lexical' },
            { id: 2, label: 'Semantik', value: 'semantic' },
            { id: 3, label: 'Leksikal & Semantik', value: 'combination' },
        ];


        const defaultMeasureOption = measureOptionsList.find(option => option.id === 3);

        return {
            measureOptionsList,
            selectedMeasureOption: defaultMeasureOption,
            get selectedMeasureOptionLabel() {
                return this.selectedMeasureOption ? this.selectedMeasureOption.label : 'Pilih Metode';
            },
            selectOption(option) {
                this.selectedMeasureOption = option;
            }
        };
    };

    const dropdownTopRelevance = () => {
        const topRelevanceOptionsList = [
            { id: 1, label: '5 Nilai Tertinggi', value: '5' },
            { id: 2, label: '10 Nilai Tertinggi', value: '10' },
            { id: 3, label: '15 Nilai Tertinggi', value: '15' },
            { id: 4, label: 'Tampilkan Semua', value: '15' },
        ];


        const defaultTopRelevanceOption = topRelevanceOptionsList.find(option => option.id === 3);

        return {
            topRelevanceOptionsList,
            selectedTopRelevanceOption: defaultTopRelevanceOption,
            get selectedTopRelevanceOptionLabel() {
                return this.selectedTopRelevanceOption ? this.selectedTopRelevanceOption.label : 'Pilih Nilai Tertinggi';
            },
            selectOption(option) {
                this.selectedTopRelevanceOption = option;
            }
        };
    };

    document.addEventListener('DOMContentLoaded', () => {
        Alpine.data('dropdownMeasure', dropdownMeasure);
    });
</script>
{% endblock content %}